body {
      /* background-image: url('photos/maths-wallpaper.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      background-attachment: scroll;
      position: relative; */
      /* scroll-direction: column; */
      /* z-index: -1; */
      margin: 0;
}

.container-1 {
      /* height: 1000px; */
      background-color: transparent;
}

.header {
      user-select: none;
      background-color: white;
      display: flex;
      height: fit-content;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
}

.header h1 {
      font-size: 35px;
      font-weight: bold;

}

.header h3:hover {
      background-color: #1F2823;
      border-radius: 50px;
}

.header h3:active {

      box-shadow: 0px 0px 10px 5px #1F2823;
}

.links {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      gap: 60px;
}

.links a {
      color: black;
      text-decoration: none;
      font-size: 20px;
}

.search-page {
      top: 0;
      left: 0;
      margin-top: 80px;
      width: 100%;
      display: flex;
      background-color: transparent;
      height: 600px;
      background-image: url('photos/maths-wallpaper.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      background-attachment: scroll;
      position: relative;
      height: 100vh;

}

.welcome-bar {
      display: flex;
      margin: auto;
      position: relative;
      text-align: center;
      font-size: 22px;
      width: 650px;
      height: 250px;
      border-radius: 100px;
      background-color: #1F2823;
      flex-direction: column;
      color: white;
      box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 15px;
      justify-content: center;
      align-items: center;
}

.search-bar {
      background-color: rgb(255, 255, 255);
      text-align: left;
      border-radius: 50px;
      margin-top: -20px;
      height: 50px;
      width: 500px;
      justify-content: center;
      align-items: center;
      position: relative;
      color: black;
}

.search-bar:hover {
      cursor: text;
}

.search-bar p {
      position: inherit;
      margin-left: 20px;
}

.search-input {
      align-items: center;
      width: 400px;
      height: 40px;
      border-radius: 50px;
      justify-content: center;
      margin-bottom: 30px;
      font-size: large;
      padding-left: 20px;
      border: none;
}

::placeholder {
      color: black;
}

/* #home {
      
} */
.bigbox {
      display: flex;
      border-radius: 30px;
      width: 95%;
      height: 55vh;
      background-color: white;
      background-image: url(photos/background.png);
      background-size: cover;
      background-position: center;
      top: -3rem;
      position: relative;
      /* right: -7rem; */
      margin-left: auto;
      margin-right: auto;
}

.heading {
      /* background-color: red; */
      width: fit-content;
      margin: auto;
      font-size: 35px;
      height: 300px;
}

.heading h1 {
      margin-top: 25px;
}

.smallbox {
      background-color: transparent;
      /* border: 2px solid black; */
      height: 300px;
      margin: auto;
      margin-right: 30px;
      width: 60%;
      
      display: flex;
}

.smallbox .div1,
.div2 {
      display: flex;
      flex-direction: column;
      margin: auto;
      background-color: transparent;
      /* border: 2px solid green; */
      justify-content: space-evenly;
      align-items: space-around;
      height: 100%;
      width: 100%;
      text-align: center;
      /* justify-content: center; */
}

.smallbox .box1,
.box2,
.box3,
.box4 {
      /* margin: auto; */
      background-color: white;
      /* border: 2px solid green; */
      height: 100px;
      width: 250px;
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: large;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
      /* margin-right: 40px; */
      /* margin-left: 0px; */
}

.you {

      color: white;
      background-color: #826af7;
      border-radius: 33px;
      padding: 5px 20px;
}

.logo {
      width: 50%;
}
.logo h1 {
      width: fit-content;
      cursor: none;
}
.under-graduate-section {
      background-color: #1F2823;
      top: -6rem;
      display: flex;
      position: relative;
      z-index: -1;
}
.our-collection h3 {
      margin-top: 5rem;
}